
body {
    margin: 0px;
    padding: 0px;
}
/* Allows the container to stretch the entire width of the screen */
.container-fluid {
    margin: 0px;
    padding: 0px;
    
}
.section-1 {
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    background-color: blue;
    clip-path:ellipse(610px 1045px at 23% -40%);               /* Creates the curved blue section around the rocket and moon pic   */
}

.sign-up-header {
    padding: 48px 44px 20px 44px;
}

.sign-up-button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 10px;
    color: whitesmoke;  
    align-content: center;
    background-color: blue;
    padding: 4px 40px 2px 45px;
    border: 2px solid whitesmoke;
}
.section-1 > img {
    width: 543px;
    height: 540px;
}
.section-2 {
    font-weight: 700;
}
.sign-in-header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

/* Form specs */
input {
    width: 50%;
    margin: 1rem;
    padding: 20px;
    border: 1px solid black;
    border-radius: 2rem;
}
/* Describes what happens when you click into the sign-in form  */
input:focus {
    border: 3px solid blue;
    outline: none;
    box-shadow: blue;
    background-color: rgb(134, 187, 248);
}

/* Inserts little icon into the form field labeled username */
input[id=username] {
    background-image: url("IMAGES/CRM-Main/Page-1.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    
}

/* Supposed to insert the little email icon into the form but not working */
#email {
    background-image: url("IMAGES/CRM-Main/emaillogo.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

/* Supposed to insert the little password icon into the form but not working*/
#password {
    background-image: url("IMAGES/CRM-Main/passwordlogo.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    
}
    
.sign-in-button {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    color: whitesmoke;  
    align-content: center;
    background-color: blue;
    padding: 4px 40px 2px 45px;
    border: 2px solid blue;
}

/* Social Media Icons */
.icons > a {
    border: 1px black solid;
    border-radius: 6rem;
    padding: 20px;
    
}
#facebookicon {
    width: 35px;
    height: 35px;
}
#twittericon {
    width: 40px;
    height: 30px;
}
#googleicon {
    width: 40px;
    height: 35px;
}
#linkedinicon {
    width: 35px;
    height: 32px;
}
