.flexbox-container{
    display: flex;
    justify-content: center;
}

.flexbox-item{
    display: flexbox;
    width: 200px;
    margin: 10px;
}

.flexbox-item-1{
    display: flex;
}

.flexbox-item-2{
    display:flex
}